[submodule "docs"]
    path = docs
    url = https://github.com/bitshares/bitshares-core.wiki.git
    branch = master
    ignore = dirty
[submodule "libraries/fc"]
    path = libraries/fc
    url = https://github.com/NESTchain/bitshares-fc.git
    branch = master
    ignore = dirty
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = git://github.com/NESTchain/berkeley-softfloat-3.git
[submodule "externals/magic_get"]
	path = externals/magic_get
	url = git://github.com/NESTchain/magic_get.git
[submodule "contracts/musl/upstream"]
	path = contracts/musl/upstream
	url = git://github.com/NESTchain/musl.git
[submodule "libraries/wabt"]
	path = libraries/wabt
	url = git://github.com/NESTchain/wabt.git
[submodule "contracts/libc++/upstream"]
	path = contracts/libc++/upstream
	url = git://github.com/NESTchain/libcxx.git
[submodule "libraries/eos-vm"]
	path = libraries/eos-vm
	url = https://github.com/NESTchain/eos-vm.git
